USE [master]
GO
/****** Object:  Database [PartialViewDb]    Script Date: 7/14/2022 12:59:08 AM ******/
CREATE DATABASE [PartialViewDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PartialViewDb', FILENAME = N'D:\setup\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\PartialViewDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PartialViewDb_log', FILENAME = N'D:\setup\SQLServer\MSSQL15.MSSQLSERVER\MSSQL\DATA\PartialViewDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PartialViewDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PartialViewDb]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/14/2022 12:59:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](225) NULL,
	[ProductDesc] [varchar](225) NULL,
	[Price] [decimal](8, 0) NULL,
	[ProdImage] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
